@model MVC_Base.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discontinued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> | *@
    <button type="button" id="updateButton" class="btn btn-danger">Edit</button> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#updateButton').click(function () {
                var data = {
                    productID: $('#ProductID').val(),
                    productName: $('#ProductName').val(),
                    supplierID: $('#SupplierID').val(),
                    categoryID: $('#CategoryID').val(),
                    quantityPerUnit: $('#QuantityPerUnit').val(),
                    unitPrice: $('#UnitPrice').val(),
                    unitsInStock: $('#UnitsInStock').val(),
                    unitsOnOrder: $('#UnitsOnOrder').val(),
                    reorderLevel: $('#ReorderLevel').val(),
                    discontinued: $('#Discontinued').is(':checked')
                };

                $.ajax({
                    url: '/api/ProductAPI/' + data.productID,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        debugger
                        alert("Product updated successfully!");
                        //window.location.href = '/Products/Index'; // Redirect after success
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                }).done(function () {
                    window.location.href = '/Products/Index'; // 重定向到产品列表页面
                });;
            });
        });
    </script>
}